:root {
	--escura: #555753;
	--clara: #babdb6;
	--media: #555753;
	--destaque: #75507b;
}
*{
	padding: 0px;	
	margin: 0px;	
}
h1{
	color: var(--destaque);
	font-family: fantasy;
	
	margin: 20px;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

ul{
	display: flex;
	justify-content: space-around;		
}

.itemMenu{
	color: var(--media);
	font-weight: bold;
	font-size: small;
	text-transform: uppercase;	
}

.itemCaminhoProduto{
	color: var(--clara);
	font-variant: small-caps;	
	font-size: small;
}

main{
	display: flex;
	justify-content: center;	
}

#caminhoProduto{
	width: 60%;
	
}

.itemMain{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;	
	
	padding: 20px;	
}

#descricaoProduto{	
	align-items: center;
	width: 70%;
}

img{
	margin: 5px 20px 20px 20px;	
}

#detalhes{
	width: 80%;
}

.tituloProduto{
	margin-top: 20px;
	
	color: var(--escura);
	font-family: fantasy;
}

.modeloProduto{
	margin-top: 10px;
	
	color: var(--clara);
	font-variant: small-caps;	
	font-size: small;
}

.preco{
	margin-top: 20px;
	color: var(--escura);
	font-size: x-large;
	font-weight: bold;
}

.precoParcela{
	margin-top: 5px;
	color: var(--media);
	font-size: small;	
}

.textoCompra{
	margin-top: 15px;
	color: var(--media);
}

#add{
	margin-top: 15px;
}

fieldset{
	margin-top: 15px;
	border-width: 0px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	border: 1px solid var(--clara);
	background: var(--media);
	font-weight: normal;
	color: var(--clara);
}